<% if User.current.admin? %>
  <p>
    <label for='issue_author_id'><%= l(:field_author) %> <span class="required"> *</span> </label>
    <%= select_tag('issue[author_id]',
                 content_tag('option', l(:label_no_change_option), :value => '') +
                 options_from_collection_for_select(User.active.sort_by(&:lastname), :id, :name, @issue_params[:author_id])) %>                   
  </p>
<% end %>
