<% if @issue && User.current.allowed_to?(:edit_issue_author, @issue.project) && !@issue.new_record? && @edit_allowed %>
    <p>
       <label for="issue_author_id"><%= l(:field_author) %><span class="required"> *</span></label>
        <%= select_tag('issue[author_id]', options_from_collection_for_select(User.active.sort_by(&:lastname), :id, :name, @issue.author_id) ) %>
    </p>
<% end %>
